.result {
  display: none;
}

h5.response {
  line-height: 1.5em;
}

form {
  width: 60%;
}

body {
  background-image: url("./../../scss/img/backgroundpic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 4em;
}
