.result {
  display: none;
}

div.response {
  width: 70%;
  span.practice {
    font-weight: 400;
    font-size: 1em;
  }
}


button {
  margin-top: 5px;
}

form {
  width: 60%;
}

body {
  background-image: url("./../../scss/img/backgroundpic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 4em;
}
